.container {
  max-width: 1200px;
  //margin: 20px auto;
  display: flex;
  flex-wrap: wrap; /* Ensure flex items wrap to the next line if needed */
  justify-content: space-evenly;
 
 
}

.box {
/* Styles for each container */
  //flex: 1 1 25%;  /* Sets each container to be 25% of the width */
  padding: 5px; /* Adds padding to the content */
  //margin: 0 10px;  /* Adds margin between the containers */
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  //justify-content: space-between;
  font-family: Arial, sans-serif;
  //align-items : center;
  width: calc(26% - 18px);
  
}

h3 {
  margin-top: -15px;
  margin-bottom: 0;
  font-size: 15px;
  padding-top : 20px;
  text-align: center;
  
}

ul {
  font-size: 11px;
}

li {
  text-align: left;
  padding-right: 15px;
  padding-top: 7px;
}

p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.7);
  padding : 0px 1.1rem;
  font-size: 11px;
  padding-top: 7px;
}

img {
  margin-top: -30px;
  width: 65px;
  height: auto;
  //margin-right: 5px;
  padding-left: 5px;
  float: left;
}


@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .box {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 568px) {
  .container {
    flex-wrap: wrap;
  }

  .box {
    width: 100%;
    margin: 20px;
    /* margin-top: 50px; */
  }
}

